//backgrounds
$body-bg: #F1F2F5;
$header-bg: #161616;
$primary: #FFE500;
$secondary: #161616;

//fonts
$basic-family: 'Roboto', Arial, Helvetica, sans-serif;
$primary-family: 'Raleway', Arial, Helvetica, sans-serif;