.benefits{
  background-color: #fff;
}

.benefits__title{
  font-size: 30px;
  padding-top: 36px;
  padding-left: 67px;
  text-align: center;
  margin-bottom: 84px;
  @include media($mobile){
    font-size: 20px;
    padding-top: 60px;
  }
}

