.map{
  background-color: $white;
}

.map__title{
  font-size: 30px;
  font-weight: 600;
  color: $black;
  margin-bottom: 45px;
  text-align: center;
  padding-top: 143px;

  @include media($mobile){
    padding-top: 60px;
    font-size: 20px;
    margin-bottom: 25px;
  }
}

.map__pic{
  object-fit: cover;
  @include media($mobile) {
      width: 100%;
      max-width: 400px;
      margin-bottom: 40px;
  }
}