.numbers{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 93px;
}

.numbers__item{
  display: flex;
}

.number__count{
  font-size: 20px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 3px;
  background-color: $primary;
  padding: 10px 14px;
  margin-right: 40px;
}

.number__description{
  margin-top: -80px;
}
.number__top{
  font-size: 80px;
  font-weight: 600;
  opacity: .1;
}

.number__text{
  font-size: 16px;
  font-weight: 600;
  color: $secondary;
}