.warehouse{
  background-color: $secondary;
  position: relative;
}

.warehouse__description{
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: 430px
}

.warehouse__title{
  @include font(30px, 36px);
  letter-spacing: 11px;
  color: $white;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.warehouse__text{
  font-size: 15px;
  line-height: 16px;
  color: $white;
  margin-bottom: 40px;
}

.warehouse__button{
  display: block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 21px 30px;
  text-decoration: none;
  color: $white;
  border: 2px solid $white;
  max-width: 277px;
  text-transform: uppercase;
}

.warehouse__location{
}

.warehouse__pic{
  position: absolute;
  bottom: -120px;
  right: 0;
  width: 50vw;
  top: 120px;
  height: 570px;
  object-fit: cover;
}